body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    margin-top: 100px;
}

.btn-success {
    background-color: #84d173;
    border: none;
}

.google-map {
    margin-top: 70px;
}

.start-page-divider {
    width: 100%;
    color: #000;
}

.start-page .jumbotron {
    background-color: #fff;
}

.happy-can-video {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}


.mainContent {
    max-width: 700px;
    margin: 70px auto;
    padding: 15px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #84d173;
    color: #fff;
    width: 100%;
    z-index: 1;
    top: 0;
}

.header i.fa-bars {
    font-size: 25px;
    cursor: pointer;
}

.company-logo {
    display: flex;
    align-items: center;
}

.happy-can-logo {
    height: 35px;
}

.company-logo h1,img {
    cursor: pointer;
}

.menu-overlay.open {
    width: 60%;
}

.menu-overlay {
    overflow: hidden;
    display: block;
    width: 0;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    /* opacity: 0.9; */
    z-index: 2;
    transition: 0.5s ease;
}

.main-menu {
    position: absolute;
    top: 26px;
    left: 35px;
}

.main-menu-link.fa-times {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    top: 26px;
    right: 35px;
}

.main-menu-link {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 5px;
    max-width: fit-content;
}

.main-menu-link:hover {
    color: #84d173;
    text-decoration: none;
}

.happyCanIcon {
    font-size: 16px;
}

.pantItem {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 75% 20%;
    grid-column-gap: 5%;
    border-bottom: 1px solid #ccc;
}

.pantInfo p {
    margin: 0;
}

.moreInfoField {
    background: #fff;
    padding: 12px 10px;
    width: 145px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 43px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 43px -4px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 43px -4px rgba(0,0,0,0.47);
}

.moreInfoField p {
    margin-bottom: 4px;
    font-size: 12px;
}

.pantButton {
    height: 30px;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.9px;
    margin: 10px 0 0 0;
    border: none;
}

.pantButton:last-child {
    margin-left: 6px;
}

.recycle-icon {
    font-size: 24px;
    color: #000;
}

@media screen and (min-width: 600px) {
    .menu-overlay.open {
        width: 35%;
    }
    
}

@media screen and (max-width: 600px) {
    .happy-can-video {
        width: 100%
    }
}

.autocomplete-dropdown-container {
    position: absolute;
}

